<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.hogo.portal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.hogo.portal.Perspective"
            icon="icons/candidates.png"
            id="Personal-Portal.perspective"
            name="Kandidaten Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.hogo.portal.candidates.CandidateView"
            icon="icons/candidates.png"
            id="com.hogo.portal.candidates.CandidateView"
            name="Kandidaten">
      </view>
      <view
            allowMultiple="false"
            class="com.hogo.portal.statistics.StatisticsView"
            icon="icons/info_tsk.png"
            id="com.hogo.portal.statistics.StatisticsView"
            name="Statistiken">
      </view>
      <view
            allowMultiple="false"
            class="com.hogo.portal.views.log.LogView"
            icon="icons/log.png"
            id="com.hogo.portal.views.log.LogView"
            name="Log">
      </view>
      <view
            allowMultiple="false"
            class="com.hogo.portal.settings.SettingsView"
            icon="icons/settings.png"
            id="com.hogo.portal.settings.SettingsView"
            name="Einstellungen">
      </view>
      <view
            allowMultiple="false"
            class="com.hogo.portal.skills.SkillsView"
            icon="icons/skills.gif"
            id="com.hogo.portal.skills.SkillsView"
            name="Qualifikation">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Personal-Portal.category"
            name="Personal">
      </category>
      <command
            description="Neuen Kandidaten erstellen"
            name="Neuer Kandidat"
            id="Personal-Portal.newCandidate"
            categoryId="Personal-Portal.category">
      </command>
      <command
            categoryId="Personal-Portal.category"
            description="Kandidaten"
            id="Candidates.open"
            name="Kandidaten">
      </command>
      <command
            categoryId="Personal-Portal.category"
            description="Log"
            id="Log.open"
            name="Log">
      </command>
      <command
            categoryId="Personal-Portal.category"
            description="Einstellungen"
            id="Settings.open"
            name="Einstellungen">
      </command>
      <command
            categoryId="Personal-Portal.category"
            description="Qualifikation"
            id="Skills.open"
            name="Qualifikation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Personal-Portal.open"
            sequence="CTRL+SHIFT+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="Personal-Portal.newCandidate"
            sequence="CTRL+SHIFT+N"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            sequence="CTRL+SHIFT+Q"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Personal Portal"
            application="com.hogo.portal.application">
         <property
               name="aboutText"
               value="Portal für Kandidaten Erfassung">
         </property>
         <property
               name="windowImages"
               value="icons/candidates.png">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Personal Portal">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hogo.portal.candidates.CandidateEditor"
            contributorClass="com.hogo.portal.candidates.CandidateEditorContributor"
            extensions="knd"
            icon="icons/person.gif"
            id="com.hogo.portal.candidates.CandidateEditor"
            name="Kandidat: *">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.hogo.portal.splashHandlers.InteractiveSplashHandler"
            id="com.hogo.portal.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.hogo.portal.product"
            splashId="com.hogo.portal.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
